<div id="log-container">
  <a href="#" id="tail" {{action toggleTailing target="view"}}>
    <span class="status"></span>
    <label>Follow logs</label>
  </a>
  <pre id="log" class="ansi"></pre>
</div>
